CHC.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-tEmp-designationhnologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" maxOSLAurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Emp-name" type="xs:string"></xs:element>
                            <xs:element name="Emp-age" type="xs:string"></xs:element>
                            <xs:element name="tname" type="xs:string"></xs:element>
                            <xs:element name="Emp-salary" type="xs:integer"></xs:element>
                            <xs:element name="Emp-emailid" type="xs:integer"></xs:element>
                            <xs:element name="Emp-Phonenum" type="xs:integer"></xs:element>
                            <xs:element name="Emp-designation" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="tname">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
